<section class="hero d-flex align-items-center urlHeader">
  <div class="container">
    <p class="small-text-hero"><i
        class="icon-localizer text-primary mr-1"
      ></i>Short is more
      <span class="text-primary">Clear</span>
    </p>
    <h1>Welcome to <span class="text-primary">ShortUrl</span> Maker</h1>
    <p class="text-hero">Short is better...?</p>
    <form action="#" class="container">
      <div class="row">
        <input
          class="col-10 p-3"
          type="text"
          placeholder="input your url"
          name="orgin_url"
        />
        <input
          class="col-2 bg-primary text-light fs-3"
          type="submit"
          value="縮址"
        />
      </div>
    </form>
  </div>
</section>