<section class="hero d-flex align-items-center urlHeader">
  <div class="container">
    <p class="small-text-hero"><i
        class="icon-localizer text-primary mr-1"
      ></i>Short is more
      <span class="text-primary">Clear</span>
    </p>
    <h1>Welcome to <span class="text-primary">ShortUrl</span> Maker</h1>
    <p class="text-hero">Short is better...?</p>
    <form action="#" class="container form">
      <div class="row">
        <input
          class="col-10 p-3"
          type="text"
          placeholder="input your url"
          name="orgin_url"
        />
        <input
          class="col-2 bg-primary text-light fs-3"
          type="submit"
          value="縮址"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
      </div>
    </form>
  </div>
</section>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>